body{
    background-color: rgb(250, 250, 250);
}
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .50rem;
    font-size: 1rem;
}
.navbar .form-control {
    position: absolute;
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 2px;
    left: 18.5%;
}
.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}
.sidepilih{
    margin-bottom: 10px;
}
.form-control-white {
    color: #070607;
    background-color: #F1F1F1;
    border-color: rgba(255, 255, 255, .1);
}
.form-control-white:focus {
    border-color: transparent;
    background-color: #F1F1F1;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.nav-text{
    margin: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 60px 10px; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #393939;
} 
.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
} 
.sidebar .nav-link {
    font-weight: 500;
    color: azure;
    font-size: 14px;
}
.nav-link:hover{
    background-color: #6b6b6b;
}
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}
.sidebar .nav-link.active {
    background-color: #585858;
    border-radius: 2px;
}
.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
    color: inherit;
}
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
.flex-column{
    height: 88%;
}
.tambahbut{
    border: none;
    border-radius: 2px;
    background-color: #393939;
    color: azure;
    height: 36px;
    width: 120px;
    outline: none;
    font-size: 14px;
}
.tambahbut:hover{
    background-color: #070607;
}
.fa-sign-out-alt{
    margin-right: 5px;
}
.logobut{
    color: #999;
}
.logobut:hover{
    color: azure;
}
.table-box{
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
}
.table-row{
    display: table;
    width: 100%;
    margin: 10px auto;
    background: white;
    padding: 4px 0px;
    color: #070607;
    box-shadow: 0px 2px 10px 0px rgba(31, 31, 31, 0.055);
    table-layout: fixed;
}
.table-cell{
    display: table-cell;
    font-size: 14px;
    width: 20%;
    text-align: left;
    padding: 4px 0px;
    word-wrap: break-word;
    margin: 0px 3px;
}
.table-cell-head{
    display: table-cell;
    font-size: 12px;
    width: 20%;
    text-align: left;
    padding: 0px;
    word-wrap: break-word;
    margin: 0px 3px;
}
.small-cell{
    width: 5%;
    text-align: center;
    color: rgb(146, 146, 146);
}
.table-cell p{
    margin: 5px 0px;
}
.table-cell-head p {
    margin: 0;
}
.cell-last p{
    margin-right: 20px;
}
.fa-pencil-square-o{
    color: #070607;
}
.fa-pencil-square-o:hover{
    color: #007bff;
}
.fa-trash-o{
    color: #070607;
}
.fa-trash-o:hover{
    color: #007bff;
}
.table-head{
    display: table;
    width: 100%;
    margin: 0px 0px;
    padding: 0px;
    color: #070607;
    font-size: 12px;
    height: 10px;
    table-layout: fixed;
}

@media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
    .navbar .form-control {
        position: relative;
        left: 0;
    }
    .table-row{
        width: 687px;
    }
    .table-head{
        width: 687px;
    }
    .table-box{
        overflow-x: scroll;
    }
    .flex-column{
        height: auto;
    }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
}